

input.numberfocus {
  border: 0;
}
input.numberfocus::-webkit-outer-spin-button, input.numberfocus::-webkit-inner-spin-button {
  -webkit-appearance: none;
  border: 0;
}
input.numberfocus:focus::-webkit-outer-spin-button {
  -webkit-appearance: outer-spin-button;
}
input.numberfocus:focus::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button;
}

.modal-frais {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 1000px;
  margin-left: -500px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal-body-frais {
    max-height: 600px;
	
}

.recapitulatif {
  margin-left: auto;
  margin-right: auto;
  width:95%;
}

.table .numbercell {
  text-align: right;
  vertical-align: middle;	
  padding: 2px;
}
.table input {
  margin-bottom: 1px;
  background: transparent;
  border:0;
}
.table input:focus {
  background:white;
}

.isSelected {
	background-color: #0cf;
}

.odd {
	background-color: #FAFAFF;
}
	
.even {
  background-color: #F4F4FF
}

@media print {
  .navbar, .btn, .hideonprint { visibility: hidden;}
  .table {
	font-size:12pt;
  }
  .table {
	width:90%;
	margin:10px;padding:0px;
  }
  .table td {
	border:1px solid #000000;
	overflow:hidden;
	white-space:nowrap;
  }
  .table td:first-child ,.table th:first-child{
	display: none;
  }
  .info {
	font-weight: bold: 
  }

}
