<div ng-controller="CalendrierCtrl">
<button ng-click=add() ><i class="icon-plus"></i></button>
<table class="table table-hover " >
	<thead>
		<th>&nbsp;</th>
		<th>Jour</th>
		<th>Type</th>
	</thead>
	<tbody>
		<tr ng-repeat="jour in calendrier" ng-dblclick="modifyRecord(jour)"
		ng-mouseenter="over=true" ng-mouseleave="over=false">
			<td class="span1"><span ng-show="over==true"><button ng-click="remove(jour)"><i class="icon-trash"></i></button></span></td>
			<td >{{jour.jour | iso2date}}</td>
			<td >{{jour.type}}</td>
		</tr>
	</tbody>
</table>
