<div class="modal-header">
Congé
</div>
<div class="modal-body">
<form novalidate>
<div class="container-fluid">
<div class="row-fluid">
	<div class="span3">Du</div><div class="span9"><input type="text" ng-model="congeCourant.date_debut"></div>
</div>
<div class="row-fluid">
	<div class="span3">Au</div><div class="span9"><input type="text" ng-model="congeCourant.date_fin"></div>
</div>
<div class="row-fluid">
	<div class="span3">Jours</div><div class="span9"><input type="number" ng-model="congeCourant.nb_jours"></div>
</div>

<div class="row-fluid">
	<div class="span3">Type</div><div class="span9"><select ng-model="congeCourant.type" ng-options="t.value as t.value for t in typesConges">
				</select></div>
</div>
</div>
</form>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="cancel()">Cancel</button>
    <button class="btn" ng-click="save()">Save</button>
</div>