<div ng-controller="FraisListeCtrl">
<h3 class="text-center">Frais</h3>
<button class="btn" ng-click="" ></button>
<button class="btn" ng-click="" ></button>
<table class="table table-hover " >
	<thead>
		<th><button class="btn" ng-click="addRecord()" ><i class="icon-plus"></i></button>&nbsp;</th>
		<th>Date</th>
		<th>Intitulé</th>
		<th>Lieu</th>
		<th>Km</th>
		<th>Véhicule</th>
		<th>Taux</th>
		<th>Const.</th>
		<th>Montant</th>
		<th>Frais parking</th>
		<th>Frais restau.</th>
		<th>Frais divers</th>
		<th>Total frais</th>
		<th>TR à enlever</th>
	</thead>
	<tbody>
		<tr ng-repeat="frais in listeFrais" ng-dblclick="modifyRecord(frais)"
			ng-mouseenter="over=true" ng-mouseleave="over=false">
			<td class="span1"><span ng-show="over==true"><button class="btn" ng-click="deleteFrais(frais)"><i class="icon-trash"></i></button></span></td>
			<td >{{frais.date_frais | iso2date}}</td>
			<td >{{frais.intitule}}</td>
			<td >{{frais.lieu}}</td>
			<td >{{frais.kilometres}}</td>
			<td >{{frais.vehicule}}</td>
			<td >{{frais.taux | frnumber}}</td>
			<td >{{frais.constante}}</td>
			<td >{{frais.montant | frnumber:2}}</td>
			<td >{{frais.frais_parking | frnumber:2}}</td>
			<td >{{frais.frais_restauration | frnumber:2}}</td>
			<td >{{frais.frais_divers | frnumber:2}}</td>
			<td >{{frais.total_frais | frnumber:2}}</td>
			<td >{{frais.tr_a_enlever}}</td>

		</tr>
	</tbody>
</table>
</div>