<div ng-controller="FraisListeCtrl">
<h3 class="text-center">Frais {{titreFrais}}</h3>
<div><span class="span1"></span> Imprimer : 
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	Notes de frais par mois...
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li ng-repeat="mois in listeMois">
		<a ng-click="printMois(mois.value);">{{mois.name}}</a>
	</li>
  </ul>
</div>
<button class="btn" ng-click="printSelection()">Notes de frais par selection...</button>
</div>
<table class="table">
	<thead>
		<th><button class="btn" ng-click="addRecord()" ><i class="icon-plus"></i></button>&nbsp;</th>
		<th>Date</th>
		<th>Intitulé</th>
		<th>Lieu</th>
		<th>Km</th>
		<th>Véhicule</th>
		<th>Taux</th>
		<th>Const.</th>
		<th>Montant</th>
		<th>Frais parking</th>
		<th>Frais restau.</th>
		<th>Frais divers</th>
		<th>Total frais</th>
		<th>TR à enlever</th>
	</thead>
	<tbody>
		<tr ng-repeat="frais in listeFrais" ng-dblclick="modifyRecord(frais)" ng-click="selectRecord(frais,$event)"
			ng-mouseenter="over=true" ng-mouseleave="over=false" ng-class="isSelected(frais)" >
			<td class="span1"><span ng-show="over"><button class="btn" ng-click="deleteFrais(frais)"><i class="icon-trash"></i></button></span></td>
			<td >{{frais.date_frais | iso2date}}</td>
			<td >{{frais.intitule}}</td>
			<td >{{frais.lieu}}</td>
			<td >{{frais.kilometres}}</td>
			<td >{{getVehiculeName(frais.id_vehicule)}}</td>
			<td class="numbercell">{{frais.taux | frnumber}}</td>
			<td class="numbercell">{{frais.constante | frnumber}}</td>
			<td class="numbercell">{{frais.montant | frnumber:2}}</td>
			<td class="numbercell">{{frais.frais_parking | frnumber:2}}</td>
			<td class="numbercell">{{frais.frais_restauration | frnumber:2}}</td>
			<td class="numbercell">{{frais.frais_divers | frnumber:2}}</td>
			<td class="numbercell">{{frais.total_frais | frnumber:2}}</td>
			<td class="numbercell">{{frais.tr_a_enlever}}</td>
		</tr>
		<tr class="info">
			<td><!--button--></td>
			<td colspan="7"></td>
			<td class="numbercell">{{total.montant | frnumber:2}}</td>
			<td class="numbercell">{{total.parking | frnumber:2}}</td>
			<td class="numbercell">{{total.restauration | frnumber:2}}</td>
			<td class="numbercell">{{total.divers | frnumber:2}}</td>
			<td class="numbercell">{{total.frais | frnumber:2}}</td>
			<td class="numbercell">{{total.tr_a_enlever }}</td>
		</tr>
	</tbody>
</table>
</div>